*{
    padding: 0;
    margin:0;
    box-sizing:border-box;
    font-family: "Roboto", sans-serif;
    
}
main{
    max-width: 500px;
}
nav{
    display: flex;
    padding: 14px 16px;
    justify-content: space-between;
    height:71px;
    border-bottom: 1px solid #eff0f6;

}
.nav-logo{
    display: flex;
    align-items: center;
}
.nav-logo img{
    width:150px;
    height:40px;
}
.menu-bar{
    height:42px;
    width:42px;
    background-color: #3083ff;
}
.menu{
    position: absolute;
    top:86px;
    background-color: #ffffff;
    right:0;
    left:0;
    max-height:0px;
    overflow: hidden;
    transition: max-height 0.6s ease-out;
}
.menu-items{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap:2rem;

}
.menu.active{
    max-height: 1000px;
    
}
.menu a{
    text-decoration: none;
    font-size: 24px;
    
}
main{
    padding:40px 0px;
}
.intro-section{
    padding:0px 20px;
}
.intro-content{
    text-align: center;
    
}
.intro-content h1{
    font-size: 36px;
    margin-bottom: 16px;
    color:#1c365a;
}
.intro-content p{
    margin-bottom: 30px;
    color:#6E7891;
}
.btn{
    height:60px;
    width:100%;
    border: 0px ;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.intro-btns{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.contact-us-btn{
    background-color: #3083ff;
    color: #ffffff;
}
.contact-us-btn:hover{
    background-color: #ffffff;
    color: #3083ff;
    border: 1px solid #3083ff
}
.browse-services-btn{
    background-color: #ffffff;
    color: #3083ff;
    border: 1px solid #3083ff;
}
.browse-services-btn:hover{
    background-color: #3083ff;
    color: #ffffff;
}
.contact-section-contacts{
    
    padding:0px 22px;
    display: flex;
    flex-direction: column;
    
    gap:40px;
    
    border-radius: 10px;
    margin:30px 0px 30px 0px;
    
}
.contact-section-icon-wrapper{
    height:60px;
    width:60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6faff;
}
.contact-section-icons{
    color:#3083ff;
    font-size: 40px;
    
}
.contact-section{
    width:100%;
    margin-top: 60px;
    padding:0px 20px 0px 20px;
    
}
.contact-section-icon-content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contact-section-image img{
    width: 100%;
    height:520px;
}
.contact-label{
    color:#1c365a;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 4px;
    
}
.cursor-contact{
    cursor: pointer;
}
.contact-label-content{
    color:#3083ff;
    font-weight: 500;
    
}
.experience-section{
    text-align:center;
    background-color: #001845;
    padding:80px 20px;
}
.experience-section h2{
    font-size: 36px;
    color: #ffffff;
    margin:15px 0px;
}
.experience-section p{
    color:#ffffff;
    font-weight: 500;
}
.experience-contents .title{
    color:#FDB52A;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 700;
}
.experience-numbers{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin:40px 0px 50px 0px;
}
.stats{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    
}
.stat-number{
    font-size: 34px;
    font-weight: 600;
}
.stat-label{
    font-weight: 800;
}
.yellow{
    color: #FDB52A;
}
.blue{
    color: #3083ff;
}
.services-section{
    text-align: center;
    padding: 80px 20px 30px 20px;
}

.services-section-content .title{
    color: #3083ff;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 700;
}
.services-section-content h2{
    font-size: 36px;
    margin: 15px 0px;
    color:#1C365A;
}
.services-section-content p{
    color:#6E7891;
}
.service-slide{
    border-radius: 16px;
    margin:50px 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    position: relative;

}
.services-slider-content{
    padding:50px 20px 40px 20px;
}
.services-image img{
    border-radius: 16px 16px 0px 0px;
    width:100%;
    height:220px;

}
.services-slider-content h3{
    font-size: 22px;
    color: #1C365A;
}
.services-slider-content p{
    color:#6E7891;
    margin:10px 0px 0px 0px;
}
.services-icon-wrapper{
    display: flex;
    position: absolute;
    width: 100%;
    top:187px;
    justify-content: center;

}
.services-icon{
    width:66px;
    height:66px;
    
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #e6faff;
}
.services-icon span{
    font-size: 45px;
    color:#3083ff;
}
.problem-fix-section{
    background-color: #3083ff;
    color:#ffffff;
    text-align: center;
    padding:80px 20px 80px 20px;
}
.problem-fix-section h2{
    font-size: 36px;
    margin:0px 0px 10px 0px;
}
.problem-fix-section p{
    margin:0px 0px 40px 0px;
}
.call-action{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.call-action{
    font-size: 28px;
    font-weight: 500;
}
.call-action:hover{
    color: #333;
}
.icon-call-action{
    font-weight: 800;
    font-size: 36px;
    margin-right: 5px;
}
.or-option{
    margin:16px 0px 20px 0px;
    font-size: 20px;
    font-weight: 800;
}
.fix-problem-btn{
    color: #3083ff;
}
.fix-problem-btn:hover{
    color:#ffffff;
    background-color: #333;
    
}
footer{
    padding:10px 20px 20px 20px;
}
footer p{
    margin: 30px 0px 20px 0px;
    color: #6E7891;
    
}
footer img{
    width:175px;
    height:50px;
}
.footer-links{
    margin:20px 0px ;
    font-size: 16px;
    display: flex;
    gap: 16px;
    flex-direction: column;
}
.footer-links a{
    text-decoration: none;
    color: #6E7891;
    
}
.footer-links a:hover{
    color:#3080ff
}

.social-media-icons{
    color: #3080ff;
    font-size: 36px;
    display: flex;
    gap:14px;
}
.footer-icons:hover{
    color: #333;
    cursor: pointer;
}
